
*{
	margin: 0 0;
	padding: 0;
	box-sizing: border-box;

}

html {
  scroll-padding-top: 70px; 
}

body {
	font-family: 'Poiret One', cursive;
	color: #1b262c;
}

/* NAV BAR */
.navbar {
	background-color: #ffdecf;
	color: #5e5e5e; 
}

.navbar a {
	color: #1b262c;
	font-family: 'Julius Sans One', sans-serif;
}

#jillb {
	font-family: 'Fredericka the Great', cursive;
	color: #1b262c;;
}

/* LANDING */
.intro {
	text-align: left;
	color: #5e5e5e;
	padding-top: 10vh;
}

@media only screen and (max-width: 950px) {
   .intro {
      padding-top: 10%;
   }
}

@media only screen and (max-width: 600px) {
   .intro {
      padding-top: 10%;
   }
}

#jill:hover {
	 opacity: 1;
	 background-color: #ba7967;
	 border-radius: 10px;

}

#landing {
  width: 100%;
  height: auto;
	background:
	url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm21-watercolor-sasi-08.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=6a1b6abe1e354ac3f374e07eee04ed85);
	background-size: cover;
	background-attachment: fixed;
	padding-bottom: 5%
}


/* MODAL */

.modal {
  padding-left: 5%;
}

.funfacts {
   list-style-type: circle;
}

.about {
	padding-top: 7%;
	color: #5e5e5e;
}

.description {
	padding-bottom: 5vh;
}

@media only screen and (max-width: 950px) {
   .description {
      padding-bottom: 5%;
   }
}

@media only screen and (max-width: 600px) {
   .description {
      padding-bottom: 5%;
   }
}


/* SKILLS */

.skillset {
	padding-top: 1%;
	padding-bottom: 1%;
	background-color: #b0cac7;
	color: white;
}


/* PORTFOLIO */

.portfoliosection {
  margin-top: 7vh;
}

.cardtext {
	text-align: center;
	padding-top: 5%
	background-color: #f9f9f9;
}


.card {
	border: none;
}
.card img {
	border-radius: 10px;
}

.card-title {
	background-color: #4d3e3e;
}

.card-text {
	background-color: #4d3e3e;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #ba7967;
  border-radius: 10px;
}

.card:hover .overlay {
  opacity: 1;
}

.overlaytext {
  color: #411f1f;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/* CONTACT */

.contactme {
  margin-top: 7vh;

}

.details {
  margin-top: 5vh;
	margin-bottom: 2em;

}

.btn {
  background-color: #ba7967;
  border: #4d3e3e;
  border-style: solid;
  border-width: 2px;
  border-style: solid;
  border-width: 2px;
  color:white;
}

@media only screen and (max-width: 950px) {
   .contactform {
      padding-bottom: 10%;
   }
}

@media only screen and (max-width: 600px) {
   .contactform {
     padding-bottom: 10%;
   }
}

@media only screen and (max-width: 950px) {
   .googlemap {
      padding-bottom: 10%;
   }
}

@media only screen and (max-width: 600px) {
   .googlemap {
     padding-bottom: 10%;
   }
}

.socials:hover {
  color:#d54062; 
}


/* FOOTER */
footer {
	background-color: #ffdecf;
}